.questionare-layer-improvment-card{
    width: 75%;
    margin: 0 auto;
}

.questionare-layer-improvment-card-inner{
    text-align: left;
}

.questionare-layer-improvment-card-inner-second{
    margin: 16px 0;
}